<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sửa bài viết</title>
</head>
<body>
<h1>Sửa bài viết</h1>
<form action="/instructors/{id}/update" method="post">
    <input type="hidden" name="_method" value="put">
    <label for="title">Tiêu đề:</label>
    <input type="text" id="title" name="title" th:value="${instructor.title}" required>
    <br>
    <label for="content">Nội dung:</label>
    <textarea id="content" name="content" rows="10" required th:text="${instructor.content}"></textarea>
    <br>
    <label for="password">Mật khẩu:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Cập nhật bài</button>
</form>
</body>
</html>
