<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
</head>
<body>
<h1>Articles</h1>
<a href="/instructors/create">Write new article</a>
<hr>
<!-- 게시글이 하나도 없을 때 -->
<div th:if="${instructs.isEmpty()}">
    <p>No articles here</p>
</div>
<!-- 게시글이 하나라도 있을 때-->
<div
        th:unless="${instructs.isEmpty()}"
        th:each="article: ${articles}"
>
    <h3>[[${instructor.id}]]. [[${instructor.title}]]</h3>
    <p>Writer: [[${instructor.writer}]]</p>
    <a th:href="@{/instructors/{id} (id=${instructor.id})}">Read</a>
</div>
</body>
</html>l>